body {
    font-family: 'Catamaran', sans-serif;
}

#container {
    height: 1165px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f8f9fa;
}

/* ---------------------------------  Header section---------------------------------------------- */

header {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 600px;
    height: 167px;
    background-image: url("images/Store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

h3 {
    position: absolute;
    width: 550px;
    height: 45px;
    top: 20;
    left: 35px;
    font-weight: 400;
    font-size: 40px;
    color: #ffd60a;
    margin: 0px;
}

.borderMeDown {
    border-bottom: 5px solid red;
    border-radius: 25%;
}
.el-h3 {
    position: absolute;
    top: 70px;
    left: 45px;
    font-size: 15px;
    color: #d9d9d9;
    font-weight: 400;
    padding-top: 20px;
}

.item {
    position: relative;
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #ced4da;
    margin: 46px;
    background-color: #e9ecef;
}

.item-desc {
    margin-left: 20px;
}

p {
    margin: 0;
}

.item-name {
    padding-top: 15px;
    color: #343a40;
}

.small-text {
    font-size: 12px;
    color: #adb5bd;
}

.price {
    padding-top: 15px;
    font-size: 12px;
    ;
    color: #343a40;
}

.item-img {
    /* border: 1px solid red; */
}

.item-img img {
    margin-top: 10px;
    margin-left: 20px;
    width: 70px;
    height: 90px;
    ;
    background-size: cover;
    border-radius: 20%;
    /* border: 1px solid red; */
}

.item-container {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
}



.add-me-btn {
    display: flex;
    width: 50px;
    height: 50px;
    /* border: 1px solid red;; */
    margin-left: auto;
}

i {
    color: #ced4da;
    margin: auto;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 508px;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9ecef;
    padding-top: 10px;
    border: 2px solid #393333;

}

.hide{
    display: none;
}

.order-detail {
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
    text-align: center;
    color: #343a40;
}

.item-in-cart {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 10px;
}

.total-price-div {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 10px;
}

.bt {
    border-top: 1px solid #adb5bd;
}

i:active {
        transform: translateY(4px);
}

i:hover{
           cursor: pointer;
           color: green;
}

.toggleMe {
        display: none;
}

.orderBtn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0px;
    cursor: pointer;
    width: 100%;
  }
  
  .orderBtn:active {
    transform: translateY(5px);
  }
  .orderBtn:hover{
    background-color: #081c15;
    color: #95d5b2;
  }


  .hideBtn {
    display: none;
  }

.removeItem {
    cursor: pointer;
}
.removeItem:active {
    box-shadow: 0 5px #666;
    transform: translateX(4px);
}

.form-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    position:absolute;
    width: 600px;
    height: 100vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 25px 0 22px 0;
    border: 1.3px solid #757575;
  }

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    transform: translateY(15px);
  }

  .form-container .btn:hover{
    background-color: #081c15;
    color: #95d5b2;
  }

  .form-container .btn:active{
    transform: translateY(-5px);
  }

  .card-detail {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
   margin-left: auto;
   margin-right: auto;
  }

  .order-complete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 504px;
    height: 120px;
    background-color: #ECFDF5;
    border-radius: 3px;

  }

  .hide-order-complete {
    display: none;
  }

.fix-me {
    position: absolute;

}
